* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#game-container {
    margin: 0 auto;
    width:32em;
    height:32em;
    border: 1px black solid;
    overflow: hidden;
}



.cell {
    border: 1px black solid;
    float: left;
    display: inline-block;
}

#header{
    margin: 2em;
}